
      <!-- ==== Education ==== -->
      <div class="container" id="education" name="education">
         <br><br>
         <div class="row">
            <h2 class="centered">Education</h2><hr><br>
            <div class="col-lg-5 col-sm-6">
               <h3>B.S. Computer Science and Engineering<br></h3>
               <h5>University of California, Irvine 2013 </h5>
               <h6>Dean’s Project Choice Award, Bren School of Information and Computer Science</h6>
               <h3>A.S. Science and Physics<br></h3>
               Santiago Canyon College 2010 <br>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
               <img class="img-responsive" src="http://alvinperlas.com/assets/img/ucilogo.png" alt="">
            </div>
         </div> <!-- row --> 
      </div><!-- container -->
	  