<!-- <div class="body">
  <mat-card class="card">
    <mat-card-title class="title">Hello,</mat-card-title>
    <mat-card-content class="content">
      <p>lorem ips. . .
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-title class="title" id="contact">Contact Me</mat-card-title>
    <mat-card-content class="content">
      <p>If you would like to get in touch, you can find me on 
      </p>
    </mat-card-content>
  </mat-card>
</div> -->
<!-- ==== GREYWRAP ==== -->
  <!-- ==== HEADERWRAP ==== -->
      <div id="headerwrap" id="home" name="home">
      <header class="clearfix">
		 <br><br>
		 <img class="img img-circle" src='http://alvinperlas.com/assets/img/team/alvin.jpg' height="300px" width="300px" alt="">
		 <p class="namespace" align="center">
           <h2>Alvin Perlas</h2>
           <h4>Software Engineer - Musician</h4>
    
      </header>
      </div><!-- /headerwrap -->
      <div id="greywrap">
         <div class="row">
            <div class="col-lg-4 callout">
               <span class="icon icon-stack"></span>
               <h2>Software Engineer</h2>
               <p>Reputation for creative approach to software design. Effective approach to development incorporating the use of leading practice development tools and principles. Hands on experience with full development lifecycle. </p>
            </div><!-- col-lg-4 -->
			
            <div class="col-lg-4 callout">
               <span class="icon icon-eye"></span>
               <h2>Software Test Engineer</h2>
               <p>Thorough hands-on experience in all levels of testing, including performance, functional, integration, system, regression and user acceptance testing.. </p>
            </div><!-- col-lg-4 -->	
			
            <div class="col-lg-4 callout">
               <span class="icon icon-heart"></span>
               <h2>Team Enthusiast</h2>
               <p>Believe that teamwork is the basis of every successful project. Respect all input and consider diverse opinions and talents. Adept at bringing together users and technology staff team members to ensure opportunities for open communication and creativity.   </p>
            </div><!-- col-lg-4 -->	
         </div> <!-- row -->
      </div>

      
      <!-- ==== ABOUT ==== -->
      <div class="container" id="about" name="about">
         <div class="row white">
            <br><h1 class="centered">Get to know Alvin</h1><hr>
            <div class="col-lg-6">
               <p> Alvin is an award winning Software Engineer with a multi-project background in the design and development of hardware and software business and test environment solutions. </p>
            </div><!-- col-lg-6 -->
			
            <div class="col-lg-6">
               <p> Alvin's key strenght is that he is a multi-tasker that is able to transform complex business requirements into effective software solutions. He is also able to effectively communicate with all stakeholders, including management, users, and peers.</p>
            </div><!-- col-lg-6 -->
         </div> <!-- row -->
      </div><!-- container -->