
      <!-- ==== experience ==== -->
      <div class="container" id="experience" name="experience">
         <br>
         <div class="row">
            <br><h1 class="centered">Experience</h1><hr><br><br>
         </div><!-- /row -->
		 
         <div class="row">
            <div class="col-lg-6 blog-bg">
               <div class="col-lg-4 centered">
                  <br>
                  <a href = "www.extron.com"><p><img src="assets/img/team/Extron.png" width="150px" height="60px"></p></a>
                  <h4>Extron Electronics</h4>
                  <h5>Anaheim, California</h5>
                  <h5>2013-Present</h5>
               </div>
               <div class="col-lg-8 blog-content">
                  <h2>Software Test Engineer</h2>
                  <p>Design, develop, deliver, and maintain software that supports operations process redesign. Work with business Project Managers to translate business requirements into technology specifications. Provide support during user acceptance testing and rollout. Also, responsible for the design and development of automated regression testing scripts to minimize or eliminate repetitive manual testing efforts.</p>
                  <p>See Projects section for projects built for Extron.</p> <br>
               </div>
            </div><!-- /col -->
			
            <div class="col-lg-6 blog-bg">
               <div class="col-lg-4 centered">
                  <br>
                  <a href="http://www.intelliconblog.com/">
                  <img src="assets/img/team/intellicon.jpg" width="150px" height="60px"></a>
                  <h4>Intellicon, inc</h4>
                  <h5>Santa Ana, California</h5>
                  <h5>2012-2013</h5>
               </div>
               <div class="col-lg-8 blog-content">
                  <h3>Software Development Engineer</h3>
                  <p>Lead Software Engineer on a team that designed and developed core software for a prototype device that alerts Intellicon whenever a customer’s UV bulb needs replacement.  Groundbreaking nature of product required hands-on leadership for testing.  Responsible for initial material costing and full documentation of end product, including schematics and user instructions.</p>
                  <p>See Projects section for projects built for Intellicon.</p>
                  <!-- 	<p><a href="#" class="icon icon-link"> Read More</a></p> -->
                  <br>
               </div>
            </div>
            <!-- /col -->
         </div>
         <!-- /row -->
         <br>
         <br>
         <div class="row">
            <div class="col-lg-6 blog-bg">
               <div class="col-lg-4 centered">
                  <br>
                  <a href = "https://www.sccollege.edu/">
                     <p><img src="assets/img/team/scc.jpg" width="150px" height="60px"></p>
                  </a>
                  <h4>Rancho Santiago Community College District</h4>
                  <h5>Orange, California</h5>
                  <h5>2008-2010</h5>
               </div>
               <div class="col-lg-8 blog-content">
                  <h2>Math Study Hall Tutor</h2>
                  <p> Strengthened core mathematics fundamentals by mentoring college level mathematics students.
 Students achieved excellence in their coursework ranging from basic Math to Advanced mathematics. </p>
                  <br>
                 <!--  <h2>Administrative Assistant</h2>
                  <p>Performed general clerical duties to include but not limited to photocopying, faxing, mail distribution and filing. </p> -->
                  <!-- 	<p><a href="#" class="icon icon-link"> Read More</a></p> -->
                  <br>
               </div>
            </div>
            <!-- /col -->
         </div>
         <!-- /row -->
         <br><br>
      </div>
      <!-- /container -->