
	  <!-- ==== Contact ==== -->
      <div class="container" id="contact" name="contact">
		
         <div class="row white">
		 <br><h1 class="centered">Contact</h1><hr>
		 
			
            <div class="col-lg-6" align="center">
				<address>
					<p><span class="icon icon-home"><strong>Alvin Perlas</strong></span>
					<br>Orange, California, 92866<br>United States<br></p>
				</address>
            </div><!-- /col -->
			
			
      
			<div class="col-lg-6" align="center">
				<h3>Let's Get Connected! </h3>
                  
                  <span class="icon icon-envelop"></span> <a href="#">alvinjericho@gmail.com</a> <br/>
                  <span class="icon icon-github"></span><a href="#">github.com/aperlas</a> <br/>
				  <span class="icon icon-mobile"></span> xxxxxx<br/>
				
            </div><!-- col -->
         </div>
      </div>
	  
	 
		 