
      <!-- ==== Skills ==== -->
      <section class="success">
         <div class="container" id="skills" name="skills">
            <br>
            <div class="row white centered">
               <h1 class="centered">Skills</h1><hr><br><br>
               <div class="col-lg-4 callout">
                  <pre>'languages':[<br>'Java', 'Python', 'C/C++', 'C#', <br>'Objective-C', 'SQL', 'AutoIt','JavasScript', <br>'HTML','CSS', 'VBScript' <br>]
					</pre>
               </div><!-- col-lg-4 callout-->
			   
               <div class="col-lg-4 callout">
                  <pre>'librariesAndPlugins':[ <br>'PyQT', 'Swing', 'Extjs','Bootstrap',  <br>'JQuery', 'Dhtmlx', 'WHITE', 'JSON', <br>'XML', 'Socket Programming' <br>]
					</pre>
               </div><!-- col-lg-4 callout-->
			   
               <div class="col-lg-4 callout">
                  <pre>'toolBelt':['Visual Studio', 'eclipse', 'netbeans',<br>'Xcode', 'Instruments', 'github',  <br>'perforce', 'Jira' ,'Apache', 'Tomcat'<br>]
					</pre>
               </div><!-- col-lg-4 callout-->
            </div> <!-- row -->
         </div><!-- container -->
      </section>
	  
	  